@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

.wheel-wrapper {
    position: relative;
    background-color: #fff;
    background-size: cover;
    padding: 5px;
    border: 15px solid #F3F4F7;
    border-radius: 9999px;
}

.wheel {
    border-radius: 9999px;
}

.wheel-shadow {
    border-radius: 9999px;
    position: absolute;
    z-index: 10;
    width: calc(100% - 23px);
    height: calc(100% - 23px);
    box-shadow: inset 0 7px 0 1.5px rgba(0, 0, 0, .15);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pointer {
    position: absolute;
    top: 36px;
    left: 26px;
    /* transform: rotate(12deg); */
    z-index: 20;
}

.wheel-btn-wapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
    background: #fff;
    border: 3.2px solid #eff1f7;
    box-shadow: 0 7.15653px 0 1.78913px rgba(0, 0, 0, .13);
    z-index: 90;
}

.wheel-btn {
    width: 3.75rem;
    z-index: 20;
    height: 58px;
    background-color: rgba(52, 142, 246, 1);
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.wheel-btn:active {
    transform: scale(0.96);
}

.wheel-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    transform: scale(1);
}

.wheel-btn svg {
    margin: 0px 0 0 4px;
}

.wheel-price {
    font-size: 20px;
    text-align: center;
    padding: 10px 24px;
    border-radius: 8px;
    background-color: #ccc;
    margin-top: 50px;
    color: #fff;
}

#confetti-canvas {
    position: absolute;
    width: 100vw;
    height: 100vh;
    inset: 0;
    z-index: -1;
}

@media screen and (max-width: 480px) {
    .wheel-wrapper {
        transform: scale(0.6);
    }
    .wheel-price {
        font-size: 16px;
    }
}